# === ADMIN ===
ADMIN_EMAIL=
ADMIN_USERNAME=

# === SECRET ===
SECRET_JWT=
SECRET_WEBHOOK=

# === URL ===
URL_KHFY=
URL_KHFY2=
URL_KHFY3=
URL_KAJE=
URL_FLAZ=

# === API KEYS ===
API_KHFY=
API_KAJE=
API_FLAZ=

# === MYSQL ===
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# === ORKUT ===
ORKUT_USERNAME=
ORKUT_TOKEN=
ORKUT_REG_ID=
ORKUT_PHONE_UUID=

# === GMAIL ===
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=
GMAIL_SENDER=
GMAIL_RECEIVER=

# === APP ===
DOMAIN=
PORT=3002
JAGO=
SEABANK=
DATAQRIS=
UNTUNG=0
