{
  "ADMIN": {
    "EMAIL": "",
    "USERNAME": ""
  },
  "SECRET": {
    "JWT": "",
    "WEBHOOK": ""
  },
  "URL": {
    "KHFY": "",
    "KHFY2": "",
    "KHFY3": "",
    "KAJE": "",
    "FLAZ": ""
  },
  "API": {
    "KHFY": "",
    "KAJE": "",
    "FLAZ": ""
  },
  "MYSQL": {
    "HOST": "",
    "PORT": "",
    "USERNAME": "",
    "PASSWORD": "",
    "DATABASE": ""
  },
  "ORKUT": {
    "USERNAME": "",
    "TOKEN": "",
    "REG_ID": "",
    "PHONE_UUID": ""
  },
  "GMAIL": {
    "CLIENT_ID": "",
    "CLIENT_SECRET": "",
    "REDIRECT_URI": "",
    "SENDER": "",
    "RECEIVER": ""
  },
  "DOMAIN": "",
  "PORT": ,
  "JAGO": "",
  "SEABANK": "",
  "DATAQRIS": "",
  "UNTUNG": 
}